<a href="https://colab.research.google.com/github/Nayoung999/Coding/blob/main/%EC%BD%94%EB%94%A9%EB%8F%84%EC%9E%A5_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 22. list와 tuple 응용하기

In [3]:
# 22.1 리스트 조작하기 
# method : 리스트 조작
# = 객체에 속한 함수. 
#22.1.1 리스트에 요소 추가하기 
# .append(요소 하나추가) .extend(리스트를 연결하여 확장)  .insert(특정인덱스에 요소 추가)
#22.1.2 리스트에 요소 하나 추가하기 
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [4]:
len(a)

4

In [5]:
a = []

In [6]:
a.append(10)
a

[10]

In [7]:
# 22.1.3 리스트 안에 리스트 추가하기
a = [10, 20, 30]
a.append([500, 600])
a

[10, 20, 30, [500, 600]]

In [8]:
len(a)

4

In [9]:
# [500.600]이라는 요소 하나를 리스트 a끝에 추가했다. 그래서 리스트 a의 총 합은 4가 나온다.

In [10]:
# 22.1.4 리스트 확장하기 
# append는 항상 리스트의 길이가 1씩 증가한다. 
# extend는 추가할 요소가 많은 경우 사용한다. 
# extend(list) : 리스트에 다른 리스트를 연결해서 확장한다. 

a = [10, 20, 30]
a.extend([500, 600])
a

[10, 20, 30, 500, 600]

In [11]:
len(a)

5

In [12]:
a = [10, 20, 30]
a.insert(2, 500)
a

[10, 20, 500, 30]

In [13]:
len(a)

4

## insert에서 자주 사용하는 패턴은?
- insert(0, 요소) : 리스트의 맨 처음에 요소를 추가 
- insert(len(리스트), 요소)

In [14]:
a = [10, 20, 30]
a.insert(0, 500)
a

[500, 10, 20, 30]

In [15]:

a = [10, 20, 30]
a.insert(0, 500)
a

[500, 10, 20, 30]

In [17]:
# insert에 마지막 인덱스보다 큰 값을 지정하면 리스트 끝에 요소를 추가할 수 있다. 
a = [10, 20, 30]
a.insert(len(a), 500)
a

# len(list)는 마지막 인덱스보다 1이 더 크기 때문에 리스트 끝에 값을 추가할 때 자주 활용한다. 
# 사실 이 방법은 a.append(500)이랑 같다.

[10, 20, 30, 500]

In [18]:
a = [10, 20, 30]
a.insert(1, [500, 600])
a

[10, [500, 600], 20, 30]

In [20]:
a = [10, 20, 30]
a[1:1] = [500, 600]  # 시작 인덱스와 끝 인덱스를 같게 지정하면 해당
a  # 해당 인덱스의 요소를 덮어쓰지 않으면서 요소 여러 개를 중간에 추가할 수 있다.

[10, 500, 600, 20, 30]

In [21]:
#22.1.6 리스트에서 요소 삭제하기
# pop : 마지막 요소 또는 특정 인덱스의 요소를 삭제 
# remove : 특정 값을 찾아서 삭제

In [22]:
# 22. 1.7. 리스트에서 특정 인덱스의 요소를 삭제하기 
# pop()은 리스트의 마지막 요소를 삭제한 뒤 삭제한 요소를 반환한다. 
# 그냥 꺼내는거!
a = [10, 20, 30]
a.pop()

30

In [23]:
a

[10, 20]

In [24]:
# pop(index) = 원하는 걸 꺼낼 수 있다. 
a = [10, 20, 30]
a.pop(1)

20

In [25]:
a

[10, 30]

In [26]:
# you can use 'del' instead of 'pop'
a = [10, 20, 30]
del a[1]
a

[10, 30]

In [27]:
# 22.1.8 리스트에서 특정 값을 찾아서 삭제하기 
# remove(값)
a = [10, 20, 30]
a.remove(20)
a

[10, 30]

In [28]:
a = [10, 20, 30, 20]
a.remove(20)
a # list에 a가 2개 있지만, 가장 처음 찾은 인덱스1의 20만 삭제한다.

[10, 30, 20]

# 리스트로 스택과 큐 만들기
- pop() 대신 pop(0)을 사용하면 큐가 된다. 
- 덱은 양쪽 끝에서 추가/삭제가 가능한 자료 구조이다.

In [29]:
# deque(반복 가능한 객체) 양쪽 끝에서 추가/삭제가 가능한 자료 구조.

from collections import deque
a = deque([10, 20, 30])
a

deque([10, 20, 30])

In [30]:
a.append(500)
a

deque([10, 20, 30, 500])

In [31]:
a.popleft() # deque의 왼쪽 요소 하나 삭제
a

deque([20, 30, 500])

In [32]:
# deque.append는 덱의 오른쪽에 요소를 추가하고 
# deque.popleft는 덱의 왼쪽 요소를 삭제한다. 
# deque.appendleft는 덱의 왼쪽에 요소를 추가하고 
# deque.pop으로 덱의 오른쪽 요소를 삭제할 수도 있다.

In [33]:
# 22.1.9 리스트에서 특정 값의 인덱스 구하기 
# index(값)은 리스트에서 특정 값의 인덱스를 구한다.
# 같은 값일 경우 처음 찾은 인덱스를 구한다 (가장 작은 인덱스)

a = [10, 20, 30, 15, 20, 40]
a.index(20)

1

In [2]:
# 22.1.10. 특정 값의 개수 구하기 
a = [10, 20, 15, 20, 40]
a.count(20)

2

In [3]:
# 22.1.11 리스트 순서 뒤집기
# reverse()
a = [10, 20, 30, 15, 20, 40]
a.reverse()
a

[40, 20, 15, 30, 20, 10]

In [4]:
# 22.1.12 리스트의 요소를 정렬하기 

# sort() : 리스트의 요소를 작은 순서대로 정렬한다(오름차순)
# sort() 또는 sort(reverse=False) (오름차순)
# sort(reverse=True) (내림차순)

a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

### 참고 sort method vs. sorted function

- sort는 메서드를 사용한 리스트를 변경
- sorted는 정렬된 새 리스트를 생성

In [6]:
a = [10, 20, 30, 15, 20, 40]
a.sort() #내용을 변경하여 정렬
a

[10, 15, 20, 20, 30, 40]

In [7]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)  # 정렬된 새 리스트를 생성

[10, 15, 20, 20, 30, 40]

In [8]:
# 22.1.13 리스트의 모든 요소를 삭제하기 
# clear()는 리스트의 모든 요소를 삭제합니다. 
a = [10, 20, 30]
a.clear()
a

[]

In [9]:
# clear 대신 del a[:]와 같이 시작, 끝 인덱스를 생략하여 리스트의 모든 요소를 삭제할 수도 있습니다.
a = [10, 20, 30]
del a[:]
a

[]

In [10]:
# 22.1.14 리스트를 슬라이스로 조작하기 
# 리스트는 메서드를 사용하지 않고, 슬라이스로 조작할 수도 있다. 
# 다음은 리스트 끝에 값이 한 개 들어 있는 리스트를 추가한다. 

a = [10, 20, 30]
a[len(a):] = [500]
a


# 여기서 a[len(a):]는 시작 인덱스를 len(a)로 지정해서 리스트의 마지막 인덱스보다 1이 더 큰 상태이다.
# 즉, 리스트 끝에서부터 시작하겠다는 것이다.

[10, 20, 30, 500]

In [12]:
# 참고. 리스트가 비어 있는지 확인하자. 
# 리스트(시퀀스 객체)가 비어 있는지 확인하려면 어떻게 해야할까

# if not len(seq): #리스트가 비어 있으면 True
# if len(seq): # 리스트에 요소가 있으면 True

# 위의 방법보다 리스트를 바로 if 조건문으로 판단하는 방법도 좋다. 

# if not seq: # 리스트가 비어 있으면 True
# if seq: # 리스트에 내용이 있으면 True

# 리스트가 비어 있는지 확인하는 방법은 리스트의 마지막 요소에 접근할 때 유용하게 사용할 수 있다. 
# 리스트의 마지막 요소에 접근할 때는 인덱스를 -1으로 지정하면 된다. 

seq = [10, 20, 30]
seq[-1]

30

In [13]:
# 만약 리스트가 비어 있는 경우에는 인덱스를 -1으로 지정하면 에러가 발생한다. 
 a = []
 a[-1]

IndentationError: ignored

In [14]:
# if 조건문을 활용하여 리스트에 요소가 있을 때만 마지막 요소를 가져오면 된다. 

seq = []
if seq:   # 리스트에 요소가 있는지 확인
    print(seq[-1])  # 요소가 있을 때만 마지막 요소를 가져온다.

In [16]:
# 리스트의 할당과 복사 알아보기 
a = [0,0,0,0,0]
b = a # 리스트를 만든 후에 다시 다른 변수에 할당한다.

In [17]:
a is b

True

In [18]:
# a is b = True
# a와 b는 같은 것이다. 리스트 b의 요소를 변경해도 a와 b 동시에 모두 반영된다.

In [20]:
# 개별적인 리스트 두 개를 만들려면 copy를 이용해야한다. 

a = [0, 0, 0, 0, 0]
b = a.copy()
b

[0, 0, 0, 0, 0]

In [21]:
a==b

True

In [22]:
a is b

False

In [23]:
# a와 b의 내용은 같지만 다른 개별 리스트임. 
# 서로 영향을 주지 않는다. 

b[2] = 99
a

[0, 0, 0, 0, 0]

In [24]:
b

[0, 0, 99, 0, 0]

In [25]:
# 22.3 반복문으로 리스트의 요소를 모두 출력하기 

# 22.3.1 for 반복문으로 요소 출력하기 
# for 반복문은 그냥 in 뒤에 리스트를 지정하면 된다. 

# for 변수 in 리스트 : 
    # 반복할 코드


a = [38, 21, 53, 62, 19]
for i in a : 
    print(i)

38
21
53
62
19

In [26]:
# 리스트를 직접 지정해도 된다. 

for i in [38, 21, 53, 62, 19]:
    print(i)

38
21
53
62
19

In [28]:
# 22.3.2 인덱스와 요소를 함께 출력하기 
# for 반복문으로 요소를 출력할 때도 인덱스와 함께 출력하려면 enumerate를 사용한다. 

# for 인덱스, 요소 in enumerate(리스트):
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index,value)


    # 이 코드는 0번째 인덱스부터 출력한다.

0 38
1 21
2 53
3 62
4 19

In [29]:
# 1번째 인덱스부터 출력하는 경우
for index, value in enumerate(a):
    print(index + 1, value)

1 38
2 21
3 53
4 62
5 19

In [30]:
for index, value in enumerate(a):
    print(index + 1, value)

1 38
2 21
3 53
4 62
5 19

In [32]:
# for 인덱스, 요소 in enumerate(리스트, start=숫자)

for index, value in enumerate(a, start=1): 
    print(index, value)

1 38
2 21
3 53
4 62
5 19

In [34]:
# for 반복무에서 인덱스로 요소를 출력하기 

a = [38, 21, 53, 62, 19]
for i in range(len(a)): # 이 줄을 실행하면 i에는 요소가 아닌 0부터 마지막 인덱스까지 인덱스가 들어간다. 
      print(a[i])

38
21
53
62
19

In [36]:
# 22.3.3. while 반복문으로 요소 출력하기 
a = [38, 21, 53, 62, 19]
i = 0     # 변수 i를 0으로 만들어 준다. 
while i <len(a):  # i가 리스트의 길이(요소 개수) 직전까지만 반복하도록 한다. 
    print(a[i])
    i += 1

# 리스트의 인덱스는 0부터 시작하고 마지막 인덱스는 리스트의 길이보다 1이 작으므로 <를 사용해야한다. 
# i <= len(a)처럼 <=을 사용하면 리스트의 범위를 벗어나게 되므로 주의해야 한다.

38
21
53
62
19

In [37]:
while i < len(a):
    print(a[i])
    i += 1

# while 반복문 안에서 요소를 출력할 때는 print(a[i])와 같이 리스트의 인덱스 부분에 i를 지정하여 출력합니다. 
# 그 다음에는 i가 1만큼 증가하도록 만들면 된다.

In [38]:
# 22.4 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기

a = [38, 21, 53, 62, 19]
smallest = a[0] # 리스트 a의 첫번째 요소 a[0]를 변수 smallest에 저장한다. 
# 그리고 for을 통해서 리스트의 요소를 모두 반복하면서 i 가 smallest보다 작으면 smallest에 i를 할당한다. 
# 숫자를 계속 비교해서 숫자가 작으며 smallest를 바꾸는 방식이다. 
for i in a : 
    if i < smallest :
        smallest = i
smallest

19

In [41]:
# 가장 큰 수는 위에서 부등호만 반대로 해주면 된다. 

a = [38, 21, 53, 62, 19]
largest = a[0]
for i in a:
    if i > largest : 
        largest = i
largest

62

In [42]:
# 리스트를 오름차순, 내림차순으로 정리하는 sort 메서드를 이용해서 정리해보자. 
# 오름차순으로 정렬하면 첫번째 요소가 가장 작은 수이고, 내림차순으로 정렬하면 첫번째 요소가 가장 큰 수다.
a = [38, 21, 53, 62, 19]
a.sort()
a[0]

19

In [43]:
a.sort(reverse=True)
a[0]

62

In [44]:
# python에서 제공하는 min, max 함수를 사용하면 더 간단하다!

a = [38, 21, 53, 62, 19]
min(a)

19

In [45]:
max(a)

62

In [47]:
# 22.4.2 요소의 합계 구하기
a = [10, 10, 10, 10, 10]
x = 0
for i in a : 
    x += i

x


# 변수 x에 0을 할당하고, for 반복문으로 리스트의 요소를 모두 반복하면서 요소를 x에 계속 더해주면 된다. 
# 이때 x에는 반드시 0을 할당해야한다. 그렇지 않으면 없는 변수에 값을 더하게 되므로 에러가 발생한다. 
# 파이썬에서는 합계를 구하는 sum함수를 제공한다.

50

In [48]:
a = [10, 10, 10, 10, 10]
sum(a)

50

In [49]:
# min, max, sum에는 리스트뿐만 아니라 모든 반복 가능한 객체(iterable)을 넣을 수 있다. 
# 반복 가능한 객체는 리스트, 튜플, 딕셔너리, 세트, range 등이 있다.

In [51]:
# 22,5 리스트 표현식 사용하기 
# 리스트 컴프리헨션 list comprehension : 리스트 안에 식, for 반복문, if
# 어떤 것을 잡아서 담아둔다. 
# 식으로 지정해서 생성된 것을 리스트로 잡아두는 것이다. "리스트 표현식"

# [ 식 for 변수 in 리스트]
# list (식 for 변수 in 리스트)

a = [i for i in range(10)] 
# 0부터 9까지 숫자를 생성하여 리스트를 생성한다. 
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
b = list(i for i in range(10))
# 0부터 9까지 숫자를 생성하여 리스트 생성
b

# 뒤에서 앞으로 읽으면 easy : range(10)으로 0부터 9까지 생성하여 변수 i에 숫자를 꺼내고, 최종적으로 i를 이용하여 리스트를 만든다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
c = [i + 5 for i in range(10)]
# 0부터 9까지 숫자를 생성하면서 값에 5를 더하여 리스트 생성
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [54]:
d = [i*2 for i in range(10)]
# 0부터 9까지의 숫자를 생성하면서 값에 2를 곱하여 리스트를 만든다. 
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 참고. 대괄호와 list() 리스트 표현식

- 리스트 표현식 만드는 방법 
1. [ ](대괄호)
2. list(식 for 변수 in list)

대괄호 방식이 더욱 좋다. 
list 방식은 C언어 스타일이라 대괄호 방식이 파이썬다운 코드다. 

- list는 리스트 표현식을 만들 수 있다는 정도만 알아두면 된다!

In [55]:
# 22.5.1 리스트 표현식에서 if 조건문 사용하기 

# [식 for 변수 in 리스트 if 조건식]
# list (식 for 변수 리스트 if 조건식)

a = [i for i in range(10) if i % 2 == 0]
# 0~9 숫자 중 2의 배수인 숫자(짝수)만으로 구성된 리스트를 생성한다. 
a

[0, 2, 4, 6, 8]

In [56]:
# 홀수만 하자!
a = [i for i in range(10) if i % 2 != 0]
a

[1, 3, 5, 7, 9]

In [58]:
# 22.5.2 for 반복문과 if 조건문을 여러 번 사용하기 

# 리스트 표현식은 for와 if를 여러 번 사용할 수도 있다. 

# 2단부터 9단까지 구구단 리스트를 생성해보자. 

a = [i * j for j in range(2,10) for i in range(1, 10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [59]:
a = [ i*j for j in range(2, 10) 
          for i in range(1, 10)]  #가독성을 위한 들여쓰기
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [60]:
# 22. 6 리스트에 map 사용하기
# list(map(함수, 리스트))
# tuple(map(함수, 튜플))

# map : list의 요소를 지정된 함수로 처리해주는 함수다. 
# 원본 리스트를 변경하지 않고 새 리스트를 생성한다. 

# 실수가 저장된 리스트가 있을 때 이 리스트의 모든 요소를 정수로 변환하려면?
# for반복문을 사용해서 변환해보자. 

a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])

a

[1, 2, 3, 4]

In [62]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int,a))  # mapdp int와 리스트a를 넣으면 리스트의 모든 요소를 int를 사용해서 변환한다. 그 다음에 list를 사용해서 map의 결과를 다시 리스트로 만들어 준다. 
a

[1, 2, 3, 4]

In [63]:
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [65]:
# 22.6.1 input().split()과 map

a = input().split()

10 20

In [66]:
a

['10', '20']

In [67]:
# 문자열이 두 개가 들어있는 리스트가 만들어진다. 
# 이제 map을 사용해서 정수로 변환해보자. 

a = map(int, input().split())

10 20

In [68]:
a

In [69]:
# 맵 객체가 만들어진다. 
# 이 상태로는 안에 들어 있는 값을 볼 수 없기 때문에 list를 사용해서 리스트로 출력한다. 
list(a)

[10, 20]

In [72]:
# 이 리스트 [10, 20]을 변수 두 개에 저장하면 지금까지 사용한 a,b = map(int, input().split())와 같은 동작이 된다. 
a,b = [10, 20]
a

10

In [73]:
b

20

In [74]:
# map이 반환하는 맵 객체는 이터레이터라서 변수 여러 개에서 저장하는 언패킹이 가능하다. 
# a,b = map(int, input().split())처럼 list를 생략한 것이다. 

x = input().split() # 이 줄의 결과는 문자열 리스트
m = map(int, x) # 리스트의 요소를 int로 변환, 결과는 맵 객체
a, b = m # 맵 객체는 변수여러 개에 저장할 수 있다.

10 20

In [75]:
# 튜플의 메서드와 다양한 사용 방법
# 튜플은 리스트와는 달리 내용을 변경할 수 없다. immutable! append같은거 사용 안됨. 
# 요소의 정보를 구하는 메서드만 사용할 수 있다. 

#22.7.1 튜플에서 특정 값의 인덱스 구하기
# 인덱스(값)은 튜플에서 특정 값의 인덱스를 구한다. 

a = (38, 21, 53, 62, 19, 53)
a.index(53)

2

In [76]:
# 22.7.2  특정 값의 개수 구하기 
# count(값) : 튜플에서 특정 값의 개수를 구한다. 

a = (10, 20, 30, 15, 20, 40)
a.count(20)

2

In [77]:
# 22.7.3 for 반복문으로 요소 출력하기 
a = (38, 21, 53, 62, 19)
for i in a:
    print(i, end=' ')

38 21 53 62 19

In [78]:
# 22.7.4 튜플 표현식 사용하기 
# tuple(식 for 변수 in 리스트 if 조건식)
a = tuple(i for i in range(10) if i % 2 == 0)
a

(0, 2, 4, 6, 8)

In [79]:
# (  ) 괄호 안에 표현식을 넣으면 튜플이 아니라 제너레이터 표현식이 된다. (unit 40에 나옴)

(i for i in range(10) if i % 2 == 0)

In [80]:
# 22.7.5 tuple에 map 사용하기 
a = (1.2, 2.5, 3.7, 4.6)
a = tuple(map(int, a))
a

(1, 2, 3, 4)

In [81]:
# 22.7.6 튜플에서 가장 작은 수, 가장 큰 수, 합계 구하기 
# 튜플도 min, max, sum 함수 사용 가능

a = (38, 21, 53, 62, 19)
min(a)

19

In [82]:
max(a)

62

In [83]:
sum(a)

193

지금까지 리스트의 다양한 메서드와 응용 방법을 배웠는데, 내용이 조금 어려웠습니다. 리스트 메서드는 모두 외우지 않아도 되며 파이썬을 사용하다 보면 자연스럽게 익히게 됩니다. 여기서는 리스트와 반복문을 사용하는 방법이 중요합니다. 특히 파이썬에서는 리스트 표현식을 자주 사용하므로 이 부분을 반복 학습하여 정확하게 익히는 것이 좋습니다.

# 22.9 연습문제: 리스트에서 특정 요소만 뽑아내기
다음 소스 코드를 완성하여 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요(리스트 표현식 사용).


- [note] 나중에 다시 보기~

In [88]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i) == 5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

- 조건 : 리스트 a에서 길이가 5인 문자열만 리스트 b에 저장해야 한다. 
- 틀린 이유 1 : 조건을 잘못 봐서 >인줄 알았음. 같은 값을 찾을 때는 == 사용해야한다. 
- 리스트 표현식은 숫자뿐만 아니라 문자열 등 다양한 요소를 처리할 수 있다.